@media (max-width:1170px) {
    .body {
        padding: 0 30px;
        width: 90%;
    }
    section {
        overflow: hidden;
     }
    
}

/* media1024px */


@media (max-width:1024px) {

    body {
            background-image: url(../images/girl.png) url(../images/Decore.svg);
            background-position:top 70px right -30px, top -200px right -50px ; 
        
        }
 .backimage > p {
        font-size: 20px;
           
        }
        .offerbox {
            width: 97%;
        }
        .services1 {
            flex-wrap: wrap;
            column-count: 2;
        }
        .working {
            width: 90vw;
        }
        .card-wrapper img:nth-child(1) {
          margin-left: 10px; 
        }
        /* .card-wrapper img:nth-child(3) {
            მარჯვნიდან შემოვიდეს 10% არ აკეთებს რატო ? :)))
        }
         */
         #messageimg {
            margin-left:91%;
            margin-top: 1%;
         }
         .threebox {
            width: 320px;
            height: auto;
         }
         .subbox {
            width: 90%;
            height: auto;
            margin-left: 40px;
         }
        .subbox1  h3 {
            font-size: 23px;
            letter-spacing: normal;    
            padding-top: 50px;
        }
        .subbox2{
            margin-left: 40px;
           margin-top: 0px;
        }
        footer {
            column-count: 3;
            flex-wrap: wrap; 
        }
        .jadoo-wrapper{
            margin-left: 10px;
        }
       
        .footer-wrapper > a  {
          font-size: 20px;
        }
        
        .socialbox {
            max-width: 800px;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-left: 110px;
        }
        .social >img {
            margin-bottom: 50px;
            margin-left: 30px;    
         }
         .app  {
            display: flex;
            justify-content: space-between;
            align-items: center;
          
        }
        .app  img {
            width: 120px; 
            margin-left: 50px; 
            margin-bottom: 50px;
        
        } 
        .app  h2 {
            font-size: 30px;
            margin-left: 30px;
        }
}

/* media768px */


@media (max-width:768px) {

   
    .backimage > h1 {
        margin-left: 10px;
        margin-top: 80px;
    }
    .offerbox{
        width: 800px;
       margin-left: -200px;
    }
    .destination-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .card-wrapper > img {
       margin-top: 10px;
    }
    .working {
        margin-left: 20px;
    }
    .threebox {
        flex-direction: column;
        align-items: center;

    }
    .nexttrip  {
        flex-direction: column;
         flex-wrap: wrap;
     }
     .nexttrip-wrapper {
        width: 90%;
        margin-left: 7% ;
     }
     .nexttrip-wrapper img {
        max-width: 100%;
        height: auto;
  
    }
     .threebox {
        width: 95%;
         margin-top:100px;
        margin-left: 20% ;
     }
   
    .airlogo {
        flex-direction: column;
        align-items: center;
        width: 80%;
        margin-left: 70px;
    }
    
    .airlogo > img:not(:last-child){
        margin-bottom: 30px;
    } 
 
    .subbox1{
        width: 550px;
        height: 90px;
    }
    .subbox1  h3 {
        font-size: 18px;
        letter-spacing: 2px;   
        padding-top: 20px; 
    
    }
    .subbox2{
        width: 570px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #emailimg {
        margin-left: -210px;
        width:3%;
    }
    #youremail {
        width: 200px;
        padding-left: 50px;
    }
    .nav-ul {
        display: none;
    }
    .fa-bars {
        display: block;
        font-size: 30px;
        color: #5e6282;
        cursor: pointer;
    }
    
    .offerbox{
        flex-wrap: wrap;
        width: 80%;
        margin-left: 70px;
    }
    
        .nav-ul.open-menu {
            display: block;
        }
       
        .jadoo-wrapper {
            width: 120px;
        }
        .footer-wrapper {
           width: 150px;
        }
        .social  {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .socialbox{
           margin-left:5px;
           margin-top: 10px;
        }
    }
    

    /* @media480px */

 @media (max-width:480px) {
    .backimage {
        width: 460px;
    }
    .geolab {
        margin-left: 30px;
    }
    .backimage > h1 {
        font-size: 25px;
        color: blue;
       margin-right:300px;
       margin-top: 120px;
    }
    .backimage > h2 {
        font-size: 15px;
        font-weight: bold;
        margin-top: 20px;
        margin-right:350px;
        margin-left: 20px;  
    }
    .backimage > p {
        font-size: 12px;
        font-weight: bold;
        margin-right: 250px;
        margin-top: 100px;
        color: black;
    }
   
    .playwrapper {
        width: 300px;
        margin-top: 90px;
    }
    .fa-bars {
        margin-right: 30px;
    }
    .offerbox {
        margin-left: 44px;
    }
    .nexttrip-wrapper {
        margin-left: 1% ;
     }
     .tripstext  h3 {
        font-size: 30px;  
        margin-left: 40px;
     }
   
     .tripstext  p {
        font-size: 20px;
     }
     .threebox {
        margin-left: 9% ;
     }
    .subbox1{
        width: 470px;
        height: 90px;
        margin-right: 60px;
    }
    #messageimg {
        margin-left:85%;
        margin-top: 1%;
    }
    .subbox1  h3 {
        font-size: 20px;
        letter-spacing: 2px;   
        padding-top: 20px; 
       margin-right: 160px;
       /* margin-left: -10px; */
       letter-spacing: 4px;
    
    }
    .subbox2{
        width: 370px;
        height: 200px;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    #emailimg {
        margin-left: -150px;
        width:4%;
        margin-top: 24px;
    }
    #youremail {
        width: 150px;
        padding-left: 50px;
    }
    
    .jadoo-wrapper {
        width: 100px;
    }
    .jadoo-wrapper > h2{
        font-size: 22px;
        margin-left: 12px;
    }
    .footer-wrapper {
       width: 110px;
    }
    .social  {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .socialbox{
       margin-left:5px;
       margin-top: 10px;
    }
    .app > h2 {
        font-size: 15px;
    }
    .app > img {
        width: 60px; 
        margin-left: 10px;
    
    } 

}
 