@media (max-width:1170px) {
    .body {
        padding: 0 30px;
        width: 90%;
    }
    section {
        overflow: hidden;
     }
    
}

/* media1024px */


@media (max-width:1024px) {

    body {
            background-image: url(../images/girl.png) url(../images/Decore.svg);
            background-position:top 70px right -30px, top -200px right -50px ; 
        
        }
 .backimage > p {
        font-size: 20px;
           
        }
        .offerbox {
            width: 97%;
        }
        .services1 {
            flex-wrap: wrap;
            column-count: 2;
        }
        .working {
            width: 90vw;
        }
        .card-wrapper img:nth-child(1) {
          margin-left: 10px; 
        }
        /* .card-wrapper img:nth-child(3) {
            მარჯვნიდან შემოვიდეს 10% არ აკეთებს რატო ? :)))
        }
         */
         #messageimg {
            margin-left:91%;
            margin-top: 1%;
         }
         .threebox {
            width: 320px;
            height: auto;
         }
         .subbox {
            width: 90%;
            height: auto;
            margin-left: 40px;
         }
        .subbox1  h3 {
            font-size: 23px;
            letter-spacing: normal;    
            padding-top: 50px;
        }
        .subbox2{
            margin-left: 40px;
           margin-top: 0px;
        }
        footer {
            column-count: 3;
            flex-wrap: wrap; 
            
        }
        .jadoo-wrapper{
            margin-left: 10px;
        }
       
        .footer-wrapper > a  {
          font-size: 20px;
        }
        
        .socialbox {
            max-width: 800px;
            height: auto;
            display: flex;
            justify-content: space-around;
            align-items: center;
           margin-left: 110px;
        }
        .social >img {
            margin-bottom: 50px;
             margin-left: 30px;    
         }
         .app  {
            display: flex;
            justify-content: space-between;
            align-items: center;
          
        }
        .app  img {
            width: 120px; 
            margin-left: 50px; 
            margin-bottom: 50px;
        
        } 
        .app  h2 {
            font-size: 30px;
            margin-left: 30px;
        }
}

/* media1024px */


@media (max-width:768px) {
   
    
    .threebox {
        flex-direction: column;
        align-items: center;

    }
    .nexttrip  {
        flex-direction: column;
         flex-wrap: wrap;
     }
     .threebox {
         margin-top:100px;
        margin-left: 20% ;
       
     }
   
    .airlogo {
        flex-direction: column;
        align-items: center;
    }
    .airlogo {
        width: 80%;
    }
    .airlogo > img:not(:last-child){
        margin-bottom: 30px;
    } 
    .nav-ul {
        display: none;
    }
    .fa-bars {
        display: block;
        font-size: 30px;
        color: #5e6282;
        cursor: pointer;
    }
    .services1  {
       flex-wrap: wrap;
       width: 80%;
       flex-flow: column;
      
    }
    .offer-wrapper {
        margin-left: 50%;
        }
        .nav-ul.open-menu {
            display: block;
        }
    }
    

    /* @media480px */

@media (max-width:480px) {
    .yotubevideo {
        width: 60%;
    }
    .destination-wrapper {
        flex-wrap: wrap;
    }

    
}

