@media (max-width:1170px) {
    .body {
        padding: 0 30px;
        width: 90%;
    }
    section {
        overflow: hidden;
     }
    
}


@media (max-width:1024px) {




    /* .services1  {
  flex-wrap: wrap;
   column-count: 2;
 
     } */

}

/* media1024px */


@media (max-width:768px) {
   
    
    .threebox {
        flex-direction: column;
        align-items: center;

    }
    .nexttrip  {
        flex-direction: column;
         flex-wrap: wrap;
     }
     .threebox {
         margin-top:100px;
        margin-left: 20% ;
       
     }
   
    .airlogo {
        flex-direction: column;
        align-items: center;
    }
    .airlogo {
        width: 80%;
    }
    .airlogo > img:not(:last-child){
        margin-bottom: 30px;
    } 
    .nav-ul {
        display: none;
    }
    .fa-bars {
        display: block;
        font-size: 30px;
        color: #5e6282;
        cursor: pointer;
    }
    .services1  {
       flex-wrap: wrap;
       width: 80%;
       flex-flow: column;
      
    }
    .offer-wrapper {
        margin-left: 50%;
        }
        .nav-ul.open-menu {
            display: block;
        }
    }
    

    /* @media480px */

@media (max-width:480px) {
    .yotubevideo {
        width: 60%;
    }
    .destination-wrapper {
        flex-wrap: wrap;
    }

    
}

