body {
    background-color: skyblue;
    max-width:  1170px;
     width: 100%;
     margin: 0 auto;  
     background-image: url(../images/girl.png), url(../images/Decore.svg);
     background-repeat: no-repeat, no-repeat;
     background-size: 600px, 700px;
     background-position: top 109px right 114px, top -200px right -50px; 
     
 
 }
 header {
    top: 0;
    position: sticky;
    z-index: 26;
    margin-top: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    /* position: fixed; width: 100%; top: 0; left: 0; */
}

.geolab {
    width: 15%;
}
.nav-ul {
display: flex;
justify-content: center;
align-items: center;
}

.nav-ul li  {
margin-right: 30px;
font-size: 20px;
}
.nav-ul :last-child {
    margin-left: 10px;
}

.backimage {
    width: 574px;
    height: 535px;
    text-align: center;
    margin-top: 20px;
    background-color: aqua;

}

.backimage > h2 {
    font-size: 20px;
    color: #df6951;
    margin-top: 53px;
    margin-right: 40px;
}
.backimage > h1 {
    font-size: 70px;
    color: yellow;
    font-family: "Sofia", sans-serif;
    margin-top: 24px;
    margin-right: 50px;
}

.backimage > p {
    font-size: 16px;
    color: #5e6282;
    margin-top: 90px;
   text-align: center;
   margin-top: 100px;
}
.backimage > button {
   width: 170px;
   height: 60px;
   font-size: 18px;
   background-color:#f1a501;
   margin-right: 150px;
   margin-top: 34px;

}
/* .backimage >.fa-solid {
    margin-top: 34px;
} */
/* sectionoffers */
.offerbox {
    width: 1120x;
    height: 500px;
    border: 2px solid black;
}
/* sectiondestinations */
/* .sell-wrapper {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
} */

.offertitle { 
    text-align: center;
    margin-top: 100px;
}
.offertitle> h3 { 
   margin-bottom:  10px;   
}
    .services1{
    width: 1170px;
    height: 250px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.weather {
    width: 300px;
    height: 200px;
}
.weather > img {
    width: 15%;
    margin-left: 80px;
}
.weather > h3 {
    margin-bottom:  10px; 
    font-size: 20px;  
    margin-left: 50px;
}
.weather > p {
    font-size: 16px;  
    letter-spacing: 2px;
}
.plane {
    width: 300px;
    height: 200px;
}
.plane > img {
    width: 15%;
    margin-left: 80px;
}
.plane > h3 {
    margin-bottom:  10px; 
    font-size: 20px;  
    margin-left: 50px;
}
.plane > p {
    font-size: 16px;  
    letter-spacing: 2px;
}

.retro  {
    width: 300px;
    height: 200px;
}
.retro > img {
    width: 15%;
    margin-left: 80px;
}
.retro > h3 {
    margin-bottom:  10px; 
    font-size: 20px;  
    margin-left: 50px;
}
.retro > p {
    font-size: 16px;  
    letter-spacing: 2px;
}
.customization {
    width: 300px;
    height: 200px;

}
.customization > img {
    width: 15%;
    margin-left: 80px;
}
.customization> h3 {
    margin-bottom:  10px; 
    font-size: 20px;  
    margin-left: 50px;
}
.customization> p {
    font-size: 16px;  
    letter-spacing: 2px;
}
.yotubevideo {
    display: flex;
    justify-content: center;
}

/* mysection */
.working {
    background-image: url(../images/workgirl.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    
}

.workingtext > h2 {
    font-size: 25px;
    position: absolute;
    top: 50px; 
    margin-left: 70px;
    font-weight: bold;
}
.workingtext >p {
    font-size: 15px;
  
    line-height: 30px;
    position: absolute;
    top: 150px;
    margin-left: 80px;
}

/* .girlworking > img {
    width: 500px;
    height: 300px;
   padding-bottom: 50px;
   margin-left: 500px; 
   margin-top: 50px;


} */

/* sectiondestinations */

.sell-wrapper {
    text-align: center;
    margin-top: 100px;
}
.destination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-wrapper > img {
    width: 250px;
    height: 100%;
}





/* nexttrip */
.tripstext {
    border: 2px solid forestgreen;
    position: relative;
    display: inline-block;
   margin-right: 400px;
   margin-top: 40px;
}

.tripstext  h3 {
    position: absolute;
    font-size: 45px;
   color: aqua;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.tripstext  p {
    position: absolute;
    font-size: 25px;
    color: aqua;
    bottom: 25%;
    left: 30%;
    
}
.nexttrip-wrapper {
    width: 1120x;
    height: 500px;
    border: 2px solid black;
    display: flex;
   flex-direction: column;
   align-items: center;
}


.step1 {
    border: 3px solid cornflowerblue;
    width: 250px;
    height: 150px; 
   text-align: center;
   display: flex;
   flex-direction: column;
}



/* peoplesay */
.people {
    width: 1170px;
    height: 360px;
    border: 2px solid black;
    
}

/* sectionairlines */
.airlogo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: row; */
}

/* footersection */
 footer {
   width: 1170px;
   height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:gray;

} 
.jadoo-wrapper {
    width: 208px;
    height: 118px;
    border: 2px solid yellow;

}
.footer-wrapper {
    width: 475px;
    height: 153px;
    border: 2px solid green;
    display: flex;
    flex-direction: column;
}
.footer-wrapper > a  {
    margin-top: 12px;

}
.social {
    width: 214px;
    height: 147px;
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.social >img {
    margin-bottom: 30px;
    margin-left: 30px;
    
}

.app {
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.app > img {
    width: 70px; 
 
   
} 