body {
    background-color: skyblue;
    max-width:  1170px;
     width: 100%;
     margin: 0 auto;  
     background-image: url(../images/girl.png), url(../images/Decore.svg);
     background-repeat: no-repeat, no-repeat;
     background-size: 600px, 700px;
     background-position: top 80px right 214px, top -200px right -50px; 
     
 
 }
 section {
    overflow: hidden;
 }
 
 header {
    top: 0;
    position: sticky;
    z-index: 26;
    margin-top: 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #EBF5FB ;
    /* position: fixed; width: 100%; top: 0; left: 0; */
}

.geolab {
    width: 15%;
}
.geolab:hover{
    width: 22%;
}
.nav-ul {
display: flex;
justify-content: center;
align-items: center;
}
.fa-bars {
    display: none;
}

.nav-ul li  {
margin-right: 30px;
font-size: 20px;
}
nav ul li:hover{
    color: #ccc;
    transform: scale(1.2);
}
.nav-ul li a:active {
    background-color:#df6951;
  }
.nav-ul :last-child {
    margin-left: 10px;
}
button :hover{
    background-color:  rgb(248, 240, 255);
    cursor: pointer;
}

input[type=text]:focus {
    background-color: rgb(0, 234, 255);
   
  }
  input[type=text] {
  padding-left: 10px;
    width: 120px;
    height:35px;
    margin-right: 20px;
  }
button[type=send] {
    width: 100%;
    padding: 12px 20px;
    background-color:  #df6951;
    cursor: pointer;
    border-radius: 6%;
}

.backimage {
    width: 574px;
    height: 535px;
    text-align: center;
    margin-top: 20px;
   /* border: 2px solid crimson; */

}
.backimage > h2 {
    font-size: 20px;
    color: #df6951;
    margin-top: 56px;
    margin-left: 70px;
}
.backimage > h1 {
    font-size: 70px;
    color:rgb(248, 240, 255);
    font-family: "Sofia", sans-serif;
    margin-top: 100px;
    margin-left: 70px;
   
}
.backimage > h1:hover {
    font-weight: bold;
    color:rgb(0, 234, 255);
}


.backimage > p {
    font-size: 16px;
    color: #5e6282;
    margin-top: 90px;
   text-align: center;
   margin-top: 100px;
   text-indent: 50px;
   margin-left: 10px;
   
}

.playwrapper {
    width: 400px;
    /* border: 2px solid red; */
    margin: 35px 0 0 85px;
}
.this {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.btn {
    width: 150px;
    height: 50px;
    background-color: rgb(248, 240, 255);
    border-radius: 10px;
}
.btn:hover{
    background-color: #5e6282;
    cursor: pointer;
}

    .play {
        width: 47px;
       height: 47px;
       background-color: #5e6282;
       border-radius: 50%;
    }
    
    .fa-circle-play {
        margin:15px ; 
        cursor: pointer;    
     }


/* sectionoffers */
.offerbox {
    max-width: 1120px;
    width: 100%;
    margin-left: 20px;
    box-shadow: -2px -14px 76px -2px rgba(53,126,158,0.75);
-webkit-box-shadow: -2px -14px 76px -2px rgba(53,126,158,0.75);
-moz-box-shadow: -2px -14px 76px -2px rgba(53,126,158,0.75);
    /* height: 500px; */
    /* border: 2px solid black; */
   
}
/* sectiondestinations */


.offertitle { 
    text-align: center;
    margin-top: 30px;
    margin-bottom:  20px; 
}
.offertitle> h3 { 
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20px;  
}
    .services1{
   max-width: 1170px;
    width: 100%;
    /* height: 250px; */
    margin-bottom: 10px;
   
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
   
}

.weather {
    max-width: 300px;
    width: 100%;
    /* height: 200px; */
}
.weather > img {
    width: 15%;
    margin-left: 80px;
    margin-bottom:  20px; 
}
.weather >img:hover {
    transform: scale(1.3);
}
.weather > h3 {
    margin-bottom:  20px; 
    font-size: 20px;  
    margin-left: 50px;
}
.weather > p {
    font-size: 16px;  
    letter-spacing: 2px;
    color: #5e6282;
}  
.plane {
    max-width: 300px;
    width: 100%;
    /* height: 200px; */
}
.plane > img {
    width: 15%;
    margin-left: 80px;
    margin-bottom:  20px; 
}

.plane >img:hover {
    transform: scale(1.3);
    
}
.plane > h3 {
    margin-bottom:  10px; 
    font-size: 20px;  
    margin-left: 50px;
    margin-bottom:  20px; 
}
.plane > p {
    font-size: 16px;  
    letter-spacing: 2px;
    color: #5e6282;
}

.retro  {
    max-width: 300px;
    width: 100%;
    /* height: 200px; */
}
.retro > img {
    width: 15%;
    margin-left: 80px;
    margin-bottom:  20px; 
}
.retro >img:hover {
    transform: scale(1.3);
    
}
.retro > h3 {
    margin-bottom:  10px; 
    font-size: 20px;  
    margin-left: 50px;
    margin-bottom:  20px; 
}
.retro > p {
    font-size: 16px;  
    letter-spacing: 2px;
    color: #5e6282;
}
.customization {
    max-width: 300px;
    width: 100%;
    /* height: 200px; */

}
.customization > img {
    width: 15%;
    margin-left: 80px;
    margin-bottom:  20px; 
}
.customization >img:hover {
    transform: scale(1.3);
}
.customization> h3 {
    margin-bottom:  10px; 
    font-size: 20px;  
    margin-left: 50px;
    margin-bottom:  20px; 
}
.customization> p {
    font-size: 16px;  
    letter-spacing: 2px;
    color: #5e6282;
}



/* mysection */
.yotubevideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; 
    background-position: top 80px
}
.working {
    margin-top: 50px;
    background-image: url(../images/workgirl.jpg);
    margin-left: 44px;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    object-fit: cover;
   
}

.workingtext > h2 {
    font-size: 25px;
    position: absolute;
    top: 50px; 
    margin-left: 70px;
    font-weight: bold;
}
.workingtext >p {
    font-size: 15px; 
    line-height: 30px;
    position: absolute;
    top: 150px;
    margin-left: 80px;
    color: #5e6282;
}


/* sectiondestinations */

.sell-wrapper {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #5e6282;
}
.card-wrapper:hover {
    transform: scale(1.05);
}
.sell-wrapper >h2 {
    font-size: 50px;
    color: #14183e;
    font-weight: bold;
   margin-bottom: 20px; 
}
.sell-wrapper >h3 {
    font-size: 20px;  
    padding-bottom: 30px;
}
.destination-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-wrapper > img {
    max-width: 300px;
    width: 100%;
    /* height: 100%; */
    border: 2px solid gray;
    background-color: beige;
    border-radius: 2%;
}
.card-wrapper > h2 {
    margin-left: 45px;
   
}
.card-wrapper > h4 {
    margin-left: 165px;
    margin-top: -15px;
}

.card-wrapper > .fa-solid {
    margin-left: 65px;
    margin-top: 15px;
    width: 50px;
}

.card-wrapper > h3 {
    margin-top: -15px;
    margin-left: 115px;
    font-size: 20px;  
}

/* nexttrip */
.nexttrip {
    display: flex;
    flex-wrap: wrap;
}
.nexttrip-wrapper {
    margin-top: 50px;
    max-width: 1120px;
    width: 100%;
    margin-left: 20px;
    /* height: 500px; */
    /* border: 2px solid black; */
    Box-shadow: 30px 30px 30px rgb( 0 0 0 / 15%); 
}
.nexttrip-wrapper >img {
    max-width: 500px;
    width: 100%;
}
.tripstext {
    max-width: 630px;
    width: 100%;
    /* border: 2px solid forestgreen; */
    position: relative;
    display: inline-block;
    margin-right: 400px;
    margin-top: 40px;
    margin-left: 20px;
}

.tripstext  h3 {
    position: absolute;
    font-size: 40px;  
    color:rgb(0, 234, 255);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}
.tripstext  p {
    position: absolute;
    font-size: 25px;
    color:rgb(0, 234, 255);
    bottom: 25%;
    left: 30%;  
}

.threebox {
 
    max-width: 400px;
    width: 100%;
    border: 2px solid cornsilk;
    margin-left: 670px;
    margin-top: -320px;
    margin-bottom: 155px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(0, 234, 255);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/* .box {
    display: flex;
   flex-direction: column;
    flex-wrap: wrap;
} */
.box > h3 {
    font-size: 16px;
    color: #5e6282;
    padding-bottom: 5px;

}
.box > p {
    padding-bottom: 10px;
}
/* sectionairlines */
.airlogo{
    margin-top: 40px;
    max-width: 1170px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;   
}

.airlogo:hover {
    transform: scale(1.01);
}

/* section Subscribe */
.Subscribe {
    position: relative;
    margin-top: 50px;
    margin-right: 10px; 
}
.subbox {
    margin-top: 40px;
    max-width: 1170px;
    height: 407px;
   /* border: 2px solid crimson; */
   background-color: rgb(248, 240, 255);
   border-radius:100px 25px 25px 25px ;
}

.subbox1 {
    width: 860px;
    height: 110px;
    /* border: 3px solid black; */
    margin-top: 20px;
    margin-left: 100px;
}

.subbox1 > h3 {
    font-size: 33px;
    color: #5e6282;
    text-align: center;
    display: flex;
   padding-top: 79px;
   letter-spacing: 2px;
}
.subbox2 {
    width: 860px;
    height: 110px;
    /* border: 3px solid blueviolet; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 70px;
    margin-left: 100px;
}
.subbox2 #youremail {
    position: relative;
    margin-left: 20px;
    
}
#emailimg {
    width:2%;
    position: absolute;
    margin-left: -410px;
    margin-top: 22px;
}
 #yoursubscribe {
    background-color: #ff7d68; width: 150px;height: 60px;
         text-align: center; border-radius: 10px;
         cursor: pointer;  margin-left: 15px;

 }

 #yoursubscribe:hover{
    background-color: rgb(0, 234, 255);
    cursor: pointer;
}
 #youremail {
    width: 421px; height: 68px; 
         cursor: pointer; margin-left:124px; border-radius: 10px;
          padding-left: 80px; 
 }
 .subbox2 input[type=text] {
    font-size: 15px;
 }
 #messageimg {
    position: absolute;
    margin-left:94%;
    margin-top: 1%;
 }

/* footersection */
 footer {
    max-width: 1170px;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;   
    border-radius: 10px;
   /* border: 2px solid blue; */
   /* background: linear-gradient(rgba(0, 0, 0, 0.485), rgba(0, 0, 0, 0.688)) */
   background: linear-gradient(to right, rgba(0, 128, 128, 0.7), rgba(255, 192, 203, 0.8));

} 
.jadoo-wrapper {
    max-width: 250px;
    width: 100%;
    /* height: 118px; */
    

}

.jadoo-wrapper > h2 {
    font-size: 44px;
    color: #181e4b;
    margin-left: 35px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}
.jadoo-wrapper > p {
    font-size: 17px;
    color: #5e6282;
    margin-left: 10px;
   
}
.footer-wrapper {
   max-width:  210px;
   width: 100%;
    /* height: 150px; */
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
 
}

.footer-wrapper > a  {
    margin-top: 12px;
    text-align: center;
}

.socialbox{
    max-width:  250px;
    width: 100%;
    /* height: 150px; */
    /* border: 2px solid red; */
    
} 
.social >img {
   margin-bottom: 80px;
    margin-left: 30px;    
}
.social >img:hover {
    transform: scale(1.5);
}
.app > h2 {
    font-size: 20px;
    color: #5e6282;
    text-align: center;
    margin-top: -60px;
}

.app > img {
    width: 80px; 
    margin-left: 20px;

} 
.app >img:hover {
    transform: scale(1.5);
}
.lastclass {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 400px;
    margin-top: 70px;
    margin-bottom: 70px;
}
.lastclass:hover {
    color: blueviolet;
    transform: scale(1.1);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}